{
  auto_https off
}

admin.ffxiv.local:80 {
    reverse_proxy :5800
}

ffxiv.local:80 {
    reverse_proxy :5801
}

frontier.ffxiv.local:80 {
    reverse_proxy :5857
}

patch-bootver.ffxiv.local:80 {
    reverse_proxy :6900
}

patch-gamever.ffxiv.local:80 {
    reverse_proxy :6900
}

ffxiv-login.square.local:80 {
    reverse_proxy :6700
}