{
  auto_https off
}

admin.ffxiv.local:80 {
    reverse_proxy :5800
}

frontier.ffxiv.local:80 {
    reverse_proxy :5857
}

patch-bootver.square.local:80 {
    reverse_proxy :6900
}

patch-gamever.square.local:80 {
    reverse_proxy :6900
}

ffxiv-login.ffxiv.local:80 {
    reverse_proxy :6700
}