[package]
name = "kawari"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "kawari-frontier"

[[bin]]
name = "kawari-admin"

[[bin]]
name = "kawari-login"

[[bin]]
name = "kawari-patch"

[profile.release]
lto = true
strip = true
opt-level = "z"
codegen-units = 1
panic = "abort"

[dependencies]
axum = { version = "0.6", features = ["json", "tokio", "http1", "form", "query", "headers"], default-features = false }
serde_json = { version = "1.0", default-features = false }
tokio = { version = "1.37", features = ["macros", "rt", "rt-multi-thread"], default-features = false }
tracing = { version = "0.1", default-features = false }
serde = { version = "1.0", features = ["derive"], default-features = false }
tracing-subscriber = { version = "0.3", features = ["fmt"], default-features = false }
rand = "0.8"
minijinja = "2.0"