{
  auto_https off
  servers {
    protocols h1
  }
  log default {
    output stdout
    format json
    include http.log.access
  }
}

admin.ffxiv.localhost:80 {
    reverse_proxy :5800
}

ffxiv.localhost:80 {
    reverse_proxy :5801
}

launcher.ffxiv.localhost:80 {
    reverse_proxy :5802
}

config-dl.ffxiv.localhost:80 {
    reverse_proxy :5803
}

frontier.ffxiv.localhost:80 {
    reverse_proxy :5857
}

patch-bootver.ffxiv.localhost:80 {
    log
    reverse_proxy :6900

    # to match retail
    header {
        Server nginx
        -Via
        Connection keep-alive
        ETag f0ad4edf149fce33b842f1104bedfd22
    }
}

patch-gamever.ffxiv.localhost:80 {
    log
    reverse_proxy :6900

    # to match retail
    header {
        Server nginx
        -Via
        Connection keep-alive
        ETag f0ad4edf149fce33b842f1104bedfd22
    }
}

ffxiv-login.square.localhost:80 {
    reverse_proxy :6700
}

patch-dl.ffxiv.localhost:80 {
    log
    root * ./patches
    file_server
}
