{
  auto_https off
}

admin.ffxiv.localhost:80 {
    reverse_proxy :5800
}

ffxiv.localhost:80 {
    reverse_proxy :5801
}

launcher.ffxiv.localhost:80 {
    reverse_proxy :5802
}

config-dl.ffxiv.localhost:80 {
    reverse_proxy :5803
}

frontier.ffxiv.localhost:80 {
    reverse_proxy :5857
}

patch-bootver.ffxiv.localhost:80 {
    reverse_proxy :6900
}

patch-gamever.ffxiv.localhost:80 {
    reverse_proxy :6900
}

ffxiv-login.square.localhost:80 {
    reverse_proxy :6700
}

patch-dl.ffxiv.localhost:80 {
    root * ./patches
    file_server browse
}
