{% extends "admin_base.html" %}

{% block title %}Kawari Admin Panel{% endblock %}
{% set current_page = "general" %}

{% block adminbody %}
<form action='apply' method='post'>
    <div class="mb-3">
        <div class="form-check">
            <label class="form-check-label" for="worlds_open">Worlds Open</label>
            <input class="form-check-input" type='checkbox' id='worlds_open' name='worlds_open' {{ 'checked' if config.frontier.worlds_open }}/>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="login_open">Login Open</label>
            <input class="form-check-input" type='checkbox' id='login_open' name='login_open' {{ 'checked' if config.frontier.login_open }}/>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="enable_registration">Enable Registrations</label>
            <input class="form-check-input" type='checkbox' id='enable_registration' name='enable_registration' {{ 'checked' if config.login.enable_registration }}/>
        </div>

        <label class="form-label" for="login_message">Login Message</label>
        <input class="form-control" type='text' id='login_message' name='login_message' value='{{ config.world.login_message }}' maxlength='775'/>

        {% for active_festival in config.world.active_festivals %}
            <label class="form-label" for="festival{{ loop.index0 }}">Festival {{ loop.index }}</label>
            <select class="form-control" id='festival{{ loop.index0 }}' name='festival{{ loop.index0 }}'>
                <option value="0">None</option>
                {% for test in festival_list %}
                    <option value="{{ test.0 }}" {% if active_festival == test.0 %}selected="selected"{% endif %} >{{ test.1 }}</option>
                {% endfor %}
            </select>
        {% endfor %}

        <label class="form-label" for="world">World ID</label>
        <input class="form-control" type='number' id='world' name='world' value='{{ config.world.world_id }}'/>
    </div>

    <button type='submit' class="btn btn-primary">Apply</button>
</form>
{% endblock %}
