{% extends "admin_base.html" %}

{% block title %}Kawari Admin Panel{% endblock %}
{% set current_page = "service_accounts" %}

{% block adminbody %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Max Expansion</th>
      <th scope="col">Legacy</th>
    </tr>
  </thead>
  <tbody>
    {% for acct in service_accounts %}
      <tr>
        <td>{{ acct.id }}</td>
        <td>{{ acct.user_id }}</td>
        <td>{{ acct.max_ex }}</td>
        <td>{{ acct.legacy }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
