{% extends "admin_base.html" %}

{% block title %}Kawari Admin Panel{% endblock %}
{% set current_page = "general" %}

{% block adminbody %}
<form action='apply' method='post'>
    <div class="mb-3">
        <div class="form-check">
            <label class="form-check-label" for="worlds_open">Worlds Open</label>
            <input class="form-check-input" type='checkbox' id='worlds_open' name='worlds_open' {{ 'checked' if config.frontier.worlds_open }}/>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="login_open">Login Open</label>
            <input class="form-check-input" type='checkbox' id='login_open' name='login_open' {{ 'checked' if config.frontier.login_open }}/>
        </div>

        <label class="form-label" for="login_message">Login Message</label>
        <input class="form-control" type='text' id='login_message' name='login_message' value='{{ config.world.login_message }}' maxlength='775'/>

        <label class="form-label" for="festival0">Festival 1</label>
        <input class="form-control" type='number' id='festival0' name='festival0' value='{{ config.world.active_festivals[0] }}'/>

        <label class="form-label" for="festival1">Festival 2</label>
        <input class="form-control" type='number' id='festival1' name='festival1' value='{{ config.world.active_festivals[1] }}'/>

        <label class="form-label" for="festival2">Festival 3</label>
        <input class="form-control" type='number' id='festival2' name='festival2' value='{{ config.world.active_festivals[2] }}'/>

        <label class="form-label" for="festival3">Festival 4</label>
        <input class="form-control" type='number' id='festival3' name='festival3' value='{{ config.world.active_festivals[3] }}'/>

        <label class="form-label" for="world">World ID</label>
        <input class="form-control" type='number' id='world' name='world' value='{{ config.world.world_id }}'/>
    </div>

    <button type='submit' class="btn btn-primary">Apply</button>
</form>
{% endblock %}
