{% extends "account_base.html" %}

{% block title %}Kawari - Change Password{% endblock %}
{% set current_page = "changepassword" %}

{% block accountbody %}
<form method='post'>
    <label for="old_password" class="form-label">Old Password:</label><br>
    <input type='password' id='old_password' name='old_password' class="form-control"/><br>
    <label for="new_password" class="form-label">New Password:</label><br>
    <input type='password' id='new_ppassword' name='new_password' class="form-control"/><br>
    <button type='submit' class="btn btn-primary">Submit</button>
</form>
{% endblock %}
