{% extends "account_base.html" %}

{% block title %}Login History{% endblock %}
{% set current_page = "login_history" %}

{% block accountbody %}
{% if generated_sid is defined %}
<div class="alert alert-primary" role="alert" id="alert">
    <p id="statusMessage">SID successfully generated: <code>{{ generated_sid }}</code>. It won't be shown again, so be sure to save it!</p>
</div>
{% endif %}
<h2>Login History</h2>
<p>This is a list of previous sessions from this account.</p>
<table>
    <tr>
        <th>Login Time</th>
        <th>Client</th>
        <th>Service</th>
        <th>Actions</td>
    </tr>
    {% for session in past_logins %}
        <tr>
            <td>{{ session.time }}</td>
            <td>Computer</td>
            <td>{{ session.service }}</td>
            <td>
            <form method='post' action='login_revoke'>
                <input type="hidden" id="service" name="service" value="{{ session.service }}">
                <button type='submit'  class="btn btn-secondary">Revoke</button>
            </form>
            </td>
        </tr>
    {% endfor %}
</table>
<h3>Generate SID</h3>
<p>You can manually generate an SID here. Useful for logging into the game manually, for example.</p>
<div class="alert alert-secondary" role="alert" id="alert">
    <p id="statusMessage">If you want to login to the game, you must use the service name '{{ game_service_name }}'!</p>
</div>
<form method='post' action='login_generate'>
    <label for="service" class="form-label">Service</label><br>
    <input type='text' id='service' name='service' class="form-control" placeholder="Unique name for this SID (e.g. 'Login Test')"/><br>
    <button type='submit'  class="btn btn-primary">Generate</button>
</form>
{% endblock %}
