{% extends "web_base.html" %}

{% block title %}Kawari - Setup{% endblock %}
{% set current_page = "setup" %}

{% block webbody %}
<section class="py-5 container">
    {% if runs_on_localhost %}
    <p>Browsers can connect to the <code>.localhost</code> sites without any additional configuration, e.g. <code>ffxiv.localhost</code>. However, some parts of the official launcher will fail to connect. To work around this, add this to your hosts file:</p>

    <pre>
127.0.0.1 admin.ffxiv.localhost
127.0.0.1 ffxiv.localhost
127.0.0.1 launcher.ffxiv.localhost
127.0.0.1 config-dl.ffxiv.localhost
127.0.0.1 frontier.ffxiv.localhost
127.0.0.1 patch-bootver.ffxiv.localhost
127.0.0.1 patch-gamever.ffxiv.localhost
127.0.0.1 ffxiv-login.square.localhost
127.0.0.1 patch-dl.ffxiv.localhost
127.0.0.1 dctravel.ffxiv.localhost</pre>

    <p>This file is located under <code>C:\Windows\System32\Drivers\etc\hosts</code> on Windows, and <code>/etc/hosts</code> on macOS and Windows.</p>

    <p>On Windows, run <code>ipconfig /flushdns</code> if you get network issues while trying to launch. This ensures the modifications to your hosts file is actually used. If you get a version check failed message, it means the patch servers are unreachable.</p>
    {% endif %}

    <p>You have several options you can use to connect, select the preferred one below:</p>

    <div class="accordion" id="launchers">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Official Launcher
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>First, follow the Usage guide for <a href="https://github.com/redstrate/LauncherTweaks#usage">LauncherTweaks</a>. Then download the config below, and place it in the same folder.</p>

                    <p>
                        <a href="/launcherconfig" download="launchertweaks.toml" class="btn btn-primary">Download Config</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Astra
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Connecting to this server with <a href="https://xiv.zone/software/astra">Astra</a> is very easy, as the functionality is built-in. You currently need a pre-release version of Astra (>=0.7)</p>

                    <ol>
                        <li>Open Astra, tap the "Settings" button in the top-right.</li>
                        <li>Under the General page, check the "Show Developer Settings" checkbox.</li>
                        <li>Select or create the account you want to log in to Kawari with. You should see a new "Developer" tab to the far-right.</li>
                    </ol>

                    <p>Then paste the Server URL (<code>{{ server_url }}</code>) and Astra will automatically configure the correct server configuration. That's it!</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    No Launcher
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>It's possible to manually run the game if you can't or don't want to use a launcher. Here are the following arguments you should pass to the game:</p>

                    <pre>DEV.TestSID=replace_this_with_your_sid DEV.UseSqPack=1 DEV.DataPathType=1 SYS.region=3 language=1 version={{ game_version }} DEV.MaxEntitledExpansionID=5 DEV.LobbyHost01={{ lobby_host }} DEV.LobbyPort01={{ lobby_port }} DEV.LobbyHost02={{ lobby_host }} DEV.LobbyPort02={{ lobby_port }} DEV.LobbyHost03={{ lobby_host }} DEV.LobbyPort03={{ lobby_port }} DEV.LobbyHost04={{ lobby_host }} DEV.LobbyPort04={{ lobby_port }} DEV.LobbyHost05={{ lobby_host }} DEV.LobbyPort05={{ lobby_port }} DEV.LobbyHost06={{ lobby_host }} DEV.LobbyPort06={{ lobby_port }} DEV.LobbyHost07={{ lobby_host }} DEV.LobbyPort07={{ lobby_port }} DEV.LobbyHost08={{ lobby_host }} DEV.LobbyPort08={{ lobby_port }} DEV.LobbyHost09={{ lobby_host }} DEV.LobbyPort09={{ lobby_port }} DEV.LobbyHost10={{ lobby_host }} DEV.LobbyPort10={{ lobby_port }} DEV.LobbyHost11={{ lobby_host }} DEV.LobbyPort11={{ lobby_port }} DEV.LobbyHost12={{ lobby_host }} DEV.LobbyPort12={{ lobby_port }}</pre>

                    <p>(The SID can be generated from the Account Management > Login History page.)</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
