{% extends "layout.html" %}

{% block title %}Manage Account{% endblock %}

{% block body %}
<p>Managing account {{ username }}</p>
<a href="/account/app/svc/logout">Logout</a>
<a href="/account/app/svc/mbrPasswd">Change Password</a>
<a href="/account/app/svc/mbrCancel">Cancel Account</a>

<!-- TODO: Move to it's own page. -->
<form method='post' enctype="multipart/form-data">
    <label for="charbak">Upload character backup:</label>
    <input type="file" id="charbak" name="charbak" accept="application/zip" />
    <button type='submit'>Upload</button>
</form>
{% endblock %}
