name: Main

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-webassembly:
    name: "Build (WebAssembly)"
    runs-on: ubuntu-latest
    # Skip running on PR events that come from the same repository, it will just duplicate the branch action
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
    - uses: actions/checkout@v6
    - name: Add WebAssembly Target
      run: |
        rustup target add wasm32-unknown-unknown
    - uses: actions/cache@v5
      id: cache-deps
      with:
        path: |
          ~/.cargo
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Build
      run: cargo build --package kawari --release --verbose --target=wasm32-unknown-unknown --lib --no-default-features

  build:
    name: "Build"
    runs-on: ${{ matrix.os }}
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5
      id: cache-deps
      with:
        path: |
          ~/.cargo
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - run: |
        cargo install --git https://github.com/rust-lang/mdBook.git mdbook
    - uses: robinraju/release-downloader@v1
      if: runner.os == 'Linux'
      with:
        repository: 'WorkingRobot/OodleUE'
        fileName: 'clang-release.zip'
        latest: true
        extract: true
    - if: runner.os == 'Linux'
      run: |
        mkdir oodle
        cp lib/Release/liboodle-network-shared.so oodle/
    - uses: robinraju/release-downloader@v1
      if: runner.os == 'Windows'
      with:
        repository: 'WorkingRobot/OodleUE'
        fileName: 'clang-cl-release.zip'
        latest: true
        extract: true
    - if: runner.os == 'Windows'
      run: |
        mkdir oodle
        cp ar/Release/oodle-network-shared.lib oodle/
    - name: Build
      run: cargo build --release --verbose --features oodle
    - name: Run Clippy
      if: runner.os == 'Linux'
      run: cargo clippy --features oodle -- -Dwarnings
    - name: Run Cargo fmt
      if: runner.os == 'Linux'
      run: cargo fmt --check
    - name: Run tests
      run: cargo test --verbose
    - name: Build documentation
      run: |
        mdbook build --dest-dir=docs-build ./docs
        mv docs docs-1
        mv docs-build docs
    - name: Prepare artifacts
      run: |
        mv target/release/* .
        echo "${{ github.sha }}" >> version.txt
    - name: Archive artifacts
      uses: actions/upload-artifact@v5
      with:
        name: Kawari-${{ runner.os }}
        path: |
          LICENSE
          USAGE.md
          README.md
          kawari-admin*
          kawari-frontier*
          kawari-lobby*
          kawari-login*
          kawari-patch*
          kawari-web*
          kawari-world*
          kawari-launcher*
          kawari-savedatabank*
          kawari-navimesh*
          kawari-datacentertravel*
          kawari-run*
          !*.d
          resources/
          !resources/data/tests
          !resources/data/opcodes.json
          !resources/data/scrambler
          !resources/data/constants.yml
          !resources/data/README.md
          version.txt
          docs/
          !docs/src/
          !docs/book.toml

  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v7
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        printf "Host ryne.moe\nPort 38901\nStrictHostKeyChecking no" >> ~/.ssh/config
        chmod 700 ~/.ssh
        chmod 600 ~/.ssh/id_rsa
        chmod 644 ~/.ssh/config
    - name: Upload artifacts
      run: |
        pushd Kawari-Linux
        zip -r ../Kawari-Linux.zip *
        popd

        pushd Kawari-Windows
        zip -r ../Kawari-Windows.zip *
        popd

        rsync --recursive "Kawari-Linux.zip" deploy@ryne.moe:/srv/http/astra-distrib/kawari/
        rsync --recursive "Kawari-Windows.zip" deploy@ryne.moe:/srv/http/astra-distrib/kawari/
        unzip "Kawari-Linux.zip"
        rsync --recursive --delete docs/ deploy@ryne.moe:/srv/http/kawari-docs

